[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target
StartLimitIntervalSec=20

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=5sec
After=network.target
ExecStart={{ ngrok_daemon }} {{ ngrok_daemon_opts }}

[Install]
WantedBy=multi-user.target
